footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    background-color: #333;
    color: white;
    position: sticky;
    bottom: 0;
    left: 0;
    right: 0;
}

footer a {
    color: white;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}
