/* Sticky Footer Styles */

html, body {
    height: 100%;
    margin: 0;
}

.main-content {
    min-height: calc(100vh - 50px); /* height of the footer */
}

.footer {
    height: 50px;
    background-color: #f8f9fa;
    position: relative;
    bottom: 0;
    width: 100%;
}
