.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #2c3e50; /* Dark background for the footer */
    color: #ecf0f1; /* Light text color for better visibility */
    padding: 5px;
    position: relative;
    bottom: 0;
    left: 0;
    width: 100%;
}

.footer a {
    color: #1abc9c; /* Light color for links */
    text-decoration: none;
    padding: 10px;
    transition: color 0.3s;
}

.footer a:hover {
    color: #16a085; /* Darker color on hover */
}
